# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Database
database/*.db
database/*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Flask
instance/
.flaskenv
